<!Doctype html>
<html lang='en'/>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
        <title>+ eight seven</title>
        <link rel='stylesheet' href='./static/css/styles.css' />
        <link rel='favicon' href='./static/img/favicon.ico' />
    </head>
    <body>
        <header>
        <nav id='nion-navbar'>
            <div></div>
        </nav>
        </header>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
        <footer>
            <p>&copy; + eight seven - <a href='https://neonmonkey.in'>neon monkey</a></p>
        </footer>
        <script src='./static/js/nion.js'></script>
    </body>
</html>
